<a href="https://colab.research.google.com/github/abequette/CS167Fall22Code/blob/main/Notebook1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notebook #1: Python, Pandas, and Movies!
**Name: Alec Bequette**

**Due 9/13 before class**

The goal of this notebook is to become comfortable with using `python` and `pandas` as well as grabbing specific slices of the dataset. 

Start off by importing the data. Make sure the data is in your Google Drive, and that you update the path to point to where you have your data saved in Drive.

In [1]:
#selecting columns in dataframes
import pandas
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
#import the data:
#make sure the path on the line below corresponds to the path where you put your dataset.
movies = pandas.read_csv('/content/drive/MyDrive/CS167/MoviesData.csv')

## Exercise #1: 
Print out all of the possible values for the Genres.
- *Hint: I'm looking for each possible Genre to be ouput once. For example, if I tossed a coin 3 times and got Heads, Tails, Heads, the possible values of the coin flip are Heads and Tails. There is a function for this. It should require one line of code.*

In [13]:
movies['Genre'].unique()

array(['Action', 'Adventure', 'Western', 'Animation', 'Biography',
       'Drama', 'Crime', 'Comedy', 'Documentary', 'Family', 'Horror',
       'Thriller', 'Mystery', nan, 'Fantasy', 'Romance', 'Short',
       'Sci-Fi', 'Talk-Show', 'Sport', 'Reality-TV', 'Musical', 'War',
       'News', 'History', 'Film-Noir'], dtype=object)

## Exercise #2:
Create a subset of data representing movies from the year 2000-2010 (including both 2000 and 2010) with the value "Action" in the Genre column. Save this DataFrame to the variable name `older_action_movies`. Display the first 5 lines of this subset.

In [16]:
older_action_movies = movies[movies["Genre"] == "Action"]
older_action_movies.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genre,Runtime,Country
0,Inception,2010,13+,8.8,87.0,Christopher Nolan,Action,148.0,United States
1,The Matrix,1999,18+,8.7,87.0,"Lana Wachowski,Lilly Wachowski",Action,136.0,United States
2,Avengers: Infinity War,2018,13+,8.5,84.0,"Anthony Russo,Joe Russo",Action,149.0,United States
8,Raiders of the Lost Ark,1981,7+,8.4,95.0,Steven Spielberg,Action,115.0,United States
16,Indiana Jones and the Last Crusade,1989,13+,8.2,88.0,Steven Spielberg,Action,127.0,United States

## Exercise #3
Using `older_action_movies`, what is the *median* **IMDb** rating?

5.5

In [18]:
older_action_movies["IMDb"].median()

5.5

## Exercise #4
Create a new subset with only movies with `Rotten Tomatoes` values < 20 and `IMDb` values < 3.0 (these should be awful movies!). Include only 4 columns: the `Title`, `Year`, `IMDb`, and `Rotten Tomatoes`. Display all of the rows in this subset.

I had trouble getting everything to run in one line here without an error.

In [45]:
bad_movies_header = movies[['Title', 'Year', 'IMDb', 'Rotten Tomatoes']]
bad_movies_2 = bad_movies_header[bad_movies_header['Rotten Tomatoes'] < 20]
bad_movies = bad_movies_2[bad_movies_2['IMDb'] < 3.0]
bad_movies

                              Title  Year  IMDb  Rotten Tomatoes
3197                 Tees Maar Khan  2010   2.5             11.0
8466    The Haunting of Sharon Tate  2019   2.8             19.0
9213                     BloodRayne  2005   2.9              4.0
10377  Mega Shark vs. Giant Octopus  2009   2.5             18.0
10463                        Race 3  2018   2.0              9.0
11067    Birdemic: Shock and Terror  2010   1.8             19.0
11707          The Amityville Curse  1990   2.9             17.0
12397                 Clowntergeist  2017   2.9             17.0
13548                  Mega Piranha  2010   2.4              8.0

## Exercise #5

What is the average (mean) IMDb score for each of the different Genres?  (I'm looking at the average of the 'IMDb' column, grouped by Genre--so Action v Adventure v Animation etc.). Look at this list to determine which genre has the highest average.
- In addition to supplying the code to output the averages for each Genre,answer the question of the hightest average in a text cell ...*

Documentary has the highest average with 6.943205721497686.

In [76]:
movie_group = movies.groupby(by="Genre")
movie_group["IMDb"].mean()

Genre
Action         5.375987
Adventure      5.687124
Animation      6.236090
Biography      6.588780
Comedy         5.876015
Crime          5.866017
Documentary    6.943206
Drama          6.042693
Family         5.529747
Fantasy        4.689333
Film-Noir      5.300000
History        6.290000
Horror         4.557748
Musical        6.251724
Mystery        5.529474
News           4.433333
Reality-TV     5.641667
Romance        5.775000
Sci-Fi         4.217284
Short          6.353846
Sport          6.718182
Talk-Show      5.611111
Thriller       5.126697
War            5.350000
Western        5.715000
Name: IMDb, dtype: float64

## Exercise #6

Do something cool. Using the movies dataset, get creative and show me something about the dataset. Use a text cell to explain what you did.

I sorted movie genres by how many were in the list to determine which were most and least popular. The top 3 were Comedy, Drama, and Documentary. The bottom 3 are War, News, and Film-Noir.

In [73]:
genre_size = movie_group.size()
genre_size.sort_values()

Genre
Film-Noir         3
News              5
War               8
Talk-Show        11
History          12
Sport            13
Reality-TV       14
Musical          29
Fantasy          76
Sci-Fi           83
Romance          92
Mystery          99
Western         121
Family          170
Short           174
Thriller        229
Biography       414
Adventure       606
Animation       694
Crime           828
Horror         1116
Action         2476
Documentary    2533
Drama          3274
Comedy         3344
dtype: int64